
.navbar__menu--admin {
    display: flex;
    align-items: center;
    gap: var(--spacing-24);
}

.main {
    text-align: center;
}

h2,
h3 {
    font-family: var(--alternative-font);
    text-align: center;
    padding-top: var(--spacing-36);
}

h2 {
    font-size: var(--font-jumbo);
}

h3 {
    font-size: var(--font-large);
}

label {
    color: #000;
    font-family: var(--base-font);
    font-size: var(--font-medium);
/*    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;*/
    text-align: left;
}
    
.form--grid { 
    display: grid;
    width: 80rem;
    margin:auto;
    grid-template-columns: repeat(12,1fr);
    /*grid-template-rows: 2fr 2fr repeat(6,1fr);*/
    padding: var(--spacing-36) var(--spacing-128);     /* top/bottom y left/right */
    row-gap: var(--spacing-16);
}

.form--grid > label {
    grid-column: 3 / 7;
  /*  margin: var(--spacing-16) 0;*/
} 

.form--grid > input {
    grid-column: 7 / 11;
    border: 0;
    border-bottom: 2px solid red;
    font-family: var(--base-font);
} 

.form--grid > input[type="submit"] {
    grid-column: 3 / 5;
    font-family: var(--base-font);
    font-size: var(--font--xsmall);
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
   padding: var(--spacing-8) var(--spacing-12);
} 

.form--grid > input[type="checkbox"] {
    grid-column: 5;
    border-radius: 3px;
    border: 2px solid var( --dark-solid);
    /*transform: scale(0.5);*/
    justify-self: end;
} 

.form--grid .aceptar {
    grid-column: 6 / 13;
    font-size: var(--font-xsmall);
  /*  margin: var(--spacing-16) 0;*/
  padding: var(--spacing-8) var(--spacing-12);
} 

.form--grid .aceptar > a {
    color: var(--secondary-solid);
} 
/*
form {

    
    grid-template-areas: "h2 h2" 
                        "h3 h3"
                        "label input" 
                        "label input" 
                        "label input" 
                        "label input" 
                        "label input" 
                        "label input" 
                        "input input label";
    
    
 
}
*/


















